$firstColor : #EEEEEE;
$secondColor : #64CCC5;
$thirdColor: #176B87;
$forthColor: #053B50;


@mixin overCardData{

    background-color: #053b507a;
    color: $firstColor;
    padding: 5px;
}

.movie-card {
    text-decoration: none;
    display: flex;
    border: 1px solid $forthColor;
    border-radius: 10px;
    // padding: 10px;
    margin: 16px;
    width: 250px;
    height: 400px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.3s ease-in-out;
    .movie-info {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;

        .movie-title {
            font-size: 18px;
            font-weight: bold;
            width: 100%;
            box-sizing: border-box;
            @include overCardData();
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }
          .movie-release{
            display: inline;
            @include overCardData();
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }

          div{
            display: flex;
            justify-content: space-between;

            .movie-status{
                @include overCardData();
                border-top-right-radius: 10px;
                border-bottom-left-radius: 10px;
            }
          }
      }
  }

  .movie-card:hover{
    transform: scale(1.03);
    border-color: $thirdColor;
  }
  
  
  
  
  