$firstColor : #EEEEEE;
$secondColor : #64CCC5;
$thirdColor: #176B87;
$forthColor: #053B50;

.nav{
    background-color: $thirdColor;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    a{
        color: $firstColor;
        text-decoration: none;
    }
    a:hover{
        color: #64CCC5;
    }

}